/** Media Queries **/
@mixin telefono {
    @media (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}
@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin boton($color, $display){
    background-color:$color;
    font-weight: bold;
    color: $blanco;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;

    display: $display;
    border: none;
    margin: 0 0 4rem 0;

    &:hover{
        background-color: darken($verde, 5);
        cursor: pointer;
    }
}