.footer{
    background-color: $grisOscuro;

    .contenedor-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        @include tablet{
            margin-left: 4rem;
        }
        padding-top: calc($separacion/2);
    }

    .navegacion{
        visibility: visible;
        opacity: 1;
        height: auto;
    }


    .copyright{
        color: $blanco;
        text-align: center;
    }
}