.alerta {
    padding: 0.5rem;
    text-align: center;
    color: white;
    font-weight: bold;

    &.error {
        background-color: red;
    }

    &.exito {
        background-color: green;
    }
}

table.propiedades {
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;
    text-align: center;
    thead {
        background-color: $verde;
        th {
            color: $blanco;
            padding: 2rem;
        }
    }
    tbody {
        .imagen-tabla {
            width: 15rem;
        }
    }
}
.imagen-act{
    width: 15rem;
}